
nav button{
    color: white !important;

}
nav a{
    color: white !important;

}
.bg-body-tertiary{
    background-color: rgb(10, 10, 71) !important;
}

.green{
    color: green !important;
}
.red{
    color: red !important;
}
.gray{
    color: gray !important;
}